body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#main {
  margin: auto;
  margin-top: 100px;
  background-color: lightblue;
  text-align: center;
  width: 200px;
}

