<!-- Footer -->
<footer class="small p-3 px-md-4 mt-auto">
    <div class="row justify-content-between">
        <div class="col-lg text-center text-lg-left mb-3 mb-lg-0">
            <ul class="list-dot list-inline mb-0">
                <li class="list-dot-item list-dot-item-not list-inline-item mr-lg-2"><a class="link-dark" href="#">FAQ</a></li>
                <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Support</a></li>
                <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Contact us</a></li>
            </ul>
        </div>

        <div class="col-lg text-center mb-3 mb-lg-0">
            <ul class="list-inline mb-0">
                <li class="list-inline-item mx-2"><a class="link-muted" href="#"><i class="gd-twitter-alt"></i></a></li>
                <li class="list-inline-item mx-2"><a class="link-muted" href="#"><i class="gd-facebook"></i></a></li>
                <li class="list-inline-item mx-2"><a class="link-muted" href="#"><i class="gd-github"></i></a></li>
            </ul>
        </div>

        <div class="col-lg text-center text-lg-right">
            &copy; 2021 SGS TEMP.
        </div>
    </div>
</footer>
<!-- End Footer -->
</div>
</main>


</body>

</html>