<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>Dashboard | SGS </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!--MCss  -->
    <link rel="stylesheet" href="/stylesheets/slave.css">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- DEMO CHARTS -->
    <link rel="stylesheet" href="/demo/chartist.css">
    <link rel="stylesheet" href="/demo/chartist-plugin-tooltip.css">

    <!-- Template -->
    <link rel="stylesheet" href="/css/graindashboard.css">
    <script src="/js/graindashboard.js"></script>
    <script src="/js/graindashboard.vendor.js"></script>

    <!-- DEMO CHARTS -->
    <script src="/demo/resizeSensor.js"></script>
    <script src="/demo/chartist.js"></script>
    <script src="/demo/chartist-plugin-tooltip.js"></script>
    <script src="/demo/gd.chartist-area.js"></script>
    <script src="/demo/gd.chartist-bar.js"></script>
    <script src="/demo/gd.chartist-donut.js"></script>

    
    <!-- jquery -->
    <!-- <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script> -->

    <!-- summernote editer -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>


    
</head>

<body class="has-sidebar has-fixed-sidebar-and-header">
    <!-- Header -->
    <header class="header bg-body">
        <nav class="navbar flex-nowrap p-0">
            <div class="navbar-brand-wrapper d-flex align-items-center col-auto">
                <!-- Logo For Mobile View -->
                <a class="navbar-brand navbar-brand-mobile" href="/">
                    <img class="img-fluid w-100" src="/images/logo-mini.png" alt="Graindashboard">
                </a>
                <!-- End Logo For Mobile View -->

                <!-- Logo For Desktop View -->
                <a class="navbar-brand navbar-brand-desktop" href="/">
                    <img class="side-nav-show-on-closed" src="/images/logo-mini.png" alt="Graindashboard" style="width: auto; height: 33px;">
                    <img class="side-nav-hide-on-closed" src="/images/logo.png" alt="Graindashboard" style="width: auto; height: 33px;">
                </a>
                <!-- End Logo For Desktop View -->
            </div>

            <div class="header-content col px-md-3">
                <div class="d-flex align-items-center">
                    <!-- Side Nav Toggle -->
                    <a id="sidebarToggle" class="js-side-nav header-invoker d-flex mr-md-2" href="#" data-close-invoker="#sidebarClose" data-target="#sidebar" data-target-wrapper="body">
                        <i class="gd-align-left"></i>
                    </a>
                    <!-- End Side Nav Toggle -->


                    <% if(loginUser) { %>
                        <!-- User Notifications -->

                        <div class="dropdown ml-auto">
                            <a id="notificationsInvoker" class="header-invoker" href="#" aria-controls="notifications" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-target="#notifications" data-unfold-type="css-animation" data-unfold-duration="300"
                                data-unfold-animation-in="fadeIn" data-unfold-animation-out="fadeOut">
                                <span class="indicator indicator-bordered indicator-top-right indicator-primary rounded-circle"></span>
                                <i class="gd-bell"></i>
                            </a>

                            <div id="notifications" class="dropdown-menu dropdown-menu-center py-0 mt-4 w-18_75rem w-md-22_5rem unfold-css-animation unfold-hidden" aria-labelledby="notificationsInvoker" style="animation-duration: 300ms;">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center border-bottom py-3">
                                        <!-- <h5 class="mb-0">코로나 정보 알림</h5> -->
                                        <a class="link small ml-auto" href="#">Clear All</a>
                                    </div>
                                    <!-- 사용자 위치 기반 알림 or 사용자 address 기반 ,,, 추후 개발영역
                                    <div class="card-body p-0">
                                        <div class="list-group list-group-flush">
                                            <div class="list-group-item list-group-item-action">
                                                <div class="d-flex align-items-center text-nowrap mb-2">
                                                    <i class="gd-info-alt icon-text text-primary mr-2"></i>
                                                    <h6 class="font-weight-semi-bold mb-0">2020-12-18 01:58:00</h6>
                                                    <span class="list-group-item-date text-muted ml-auto">just now</span>
                                                </div>
                                                <p class="mb-0">
                                                    [긴급] 인천광역시 <strong>70</strong> 명 확진.
                                                </p>
                                                <a class="list-group-item-closer text-muted" href="#"><i class="gd-close"></i></a>
                                            </div>
                                            <div class="list-group-item list-group-item-action">
                                                <div class="d-flex align-items-center text-nowrap mb-2">
                                                    <i class="gd-info-alt icon-text text-primary mr-2"></i>
                                                    <h6 class="font-weight-semi-bold mb-0">2020-12-18 01:18:00</h6>
                                                    <span class="list-group-item-date text-muted ml-auto">just now</span>
                                                </div>
                                                <p class="mb-0">
                                                    [긴급] 인천광역시 <strong>3</strong> 명 확진.
                                                </p>
                                                <a class="list-group-item-closer text-muted" href="#"><i class="gd-close"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                        <!-- End User Notifications -->
                        <!-- User Avatar -->
                        <div class="dropdown mx-3 dropdown ml-2">
                            <!-- 유저 이름 부분 -->
                            <a id="profileMenuInvoker" class="header-complex-invoker" href="#" aria-controls="profileMenu" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-target="#profileMenu" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-animation-in="fadeIn" data-unfold-animation-out="fadeOut">
                                <!--img class="avatar rounded-circle mr-md-2" src="#" alt="John Doe"-->
                                <span id="header_image">
                                    <% if(!loginUser.profile || loginUser.profile == '') { %>
                                        <span class="mr-md-2 avatar-placeholder">
                                            <i class="gd-user"></i>
                                        </span>
                                    <%  } else { %>
                                        <img class="mr-md-2 avatar-placeholder" src="<%=loginUser.profile %>">
                                    <% } %>
                                </span>
                                <span class="d-none d-md-block"><%=loginUser.member_name %></span>
                                <i class="gd-angle-down d-none d-md-block ml-2"></i>
                            </a>

                            <ul id="profileMenu" class="unfold unfold-user unfold-light unfold-top unfold-centered position-absolute pt-2 pb-1 mt-4 unfold-css-animation unfold-hidden fadeOut" aria-labelledby="profileMenuInvoker" style="animation-duration: 300ms;">
                                <li class="unfold-item">
                                    <a class="unfold-link d-flex align-items-center text-nowrap" href="/users/mypage">
                                        <span class="unfold-item-icon mr-3">
                                            <i class="gd-user"></i>
                                        </span> 내 프로필
                                    </a>
                                </li>
                                
                                <li class="unfold-item unfold-item-has-divider">
                                    <a class="unfold-link d-flex align-items-center text-nowrap" href="/logout">
                                        <span class="unfold-item-icon mr-3 ">
                                            <i class="gd-power-off "></i>
                                        </span> 로그아웃
                                    </a>
                                </li>
                                
                            </ul>
                        </div>

                        <!-- End User Avatar -->
                        <% } else { %>
                            <div class="dropdown ml-auto ">
                                <!-- <a href="/login ">로그인</a> -->
                                <!-- <meta http-equiv="refresh" content="0; url=/login"></meta> -->
                                <script>
                                    function loginCheck(){
                                        if(window.location.pathname != "/login"){
                                            window.location.href = '/login';
                                        }
                                    }
                                    // $(document).ready(function(){ 
                                    //     loginCheck();
                                    // });
                                    loginCheck();
                                </script>
                            </div>
                        <% } %>
                </div>

            </div>
        </nav>
    </header>
    <!-- End Header -->

