<main class="main">
    <!-- Sidebar Nav -->
 
    <aside id="sidebar" class="js-custom-scroll side-nav">
        <ul id="sideNav" class="side-nav-menu side-nav-menu-top-level mb-0">
            <!-- Title -->
            <li class="sidebar-heading h6">Dashboard</li>
            <!-- End Title -->

            <!-- Dashboard -->
            <li class="side-nav-menu-item active">
                <a class="side-nav-menu-link media align-items-center" href="/">
                    <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-dashboard"></i>
              </span>
                    <span class="side-nav-fadeout-on-closed media-body">SGS</span>
                </a>
            </li>
            <!-- End Dashboard -->
            <!-- 국내코로나 -->
            <!-- <li class="side-nav-menu-item side-nav-has-menu">
                <a class="side-nav-menu-link media align-items-center" href="#" data-target="#subKorea">
                    <span class="side-nav-menu-icon d-flex mr-3">
                    <i class="gd-user"></i>
                  </span>
                    <span class="side-nav-fadeout-on-closed media-body">국내</span>
                    <span class="side-nav-control-icon d-flex">
                <i class="gd-angle-right side-nav-fadeout-on-closed"></i>
              </span>
                    <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
                </a>

                <ul id="subKorea" class="side-nav-menu side-nav-menu-second-level mb-0">
                    <li class="side-nav-menu-item">
                        <a class="side-nav-menu-link" href="/covid/city">감염현황 지도</a>
                    </li>
                    <li class="side-nav-menu-item">
                        <a class="side-nav-menu-link" href="/covid/infection?startPage=1&startTime=&endTime=">감염현황검색</a>
                    </li>
                    <li class="side-nav-menu-item">
                        <a class="side-nav-menu-link" href="/covid/ageGender">연령/성별 상황</a>
                    </li>
                    <li class="side-nav-menu-item">
                        <a class="side-nav-menu-link" href="/nav">내 위치추적</a>
                    </li>
                    <li class="side-nav-menu-item">
                        <a class="side-nav-menu-link" href="/covid/sms?startPage=1&location_name=">긴급재난문자</a>
                    </li>
                </ul>
            </li> -->
            <!-- 국내코로나 -->
            <!-- 해외코로나 -->
            <!-- <li class="side-nav-menu-item side-nav-has-menu">
                <a class="side-nav-menu-link media align-items-center" href="#" data-target="#subWorlds">
                    <span class="side-nav-menu-icon d-flex mr-3">
                    <i class="gd-user"></i>
                  </span>
                    <span class="side-nav-fadeout-on-closed media-body">해외</span>
                    <span class="side-nav-control-icon d-flex">
                <i class="gd-angle-right side-nav-fadeout-on-closed"></i>
              </span>
                    <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
                </a>

                <ul id="subWorlds" class="side-nav-menu side-nav-menu-second-level mb-0">
                    <li class="side-nav-menu-item">
                        <a class="side-nav-menu-link" href="/covid/safePaging?startPage=1">최신안전소식</a>
                    </li>
                    <li class="side-nav-menu-item">
                        <a class="side-nav-menu-link" href="/covid/world">감염현황 세계지도</a>
                    </li>
                    <li class="side-nav-menu-item">
                        <a class="side-nav-menu-link" href="/covid/overseaout?startPage=1&startTime=&endTime=&area=&nation=">세계지역검색</a>
                    </li>                    
                </ul>
            </li> -->
            <!-- 해외코로나 -->
            <!-- 게시판 -->
            <li class="side-nav-menu-item side-nav-has-menu">
                <a class="side-nav-menu-link media align-items-center" href="#" data-target="#subBoards">
                    <span class="side-nav-menu-icon d-flex mr-3">
                    <i class="gd-file"></i>
                  </span>
                    <span class="side-nav-fadeout-on-closed media-body">문의</span>
                    <span class="side-nav-control-icon d-flex">
                <i class="gd-angle-right side-nav-fadeout-on-closed"></i>
              </span>
                    <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
                </a>

                <ul id="subBoards" class="side-nav-menu side-nav-menu-second-level mb-0">
                    <li class="side-nav-menu-item">
                        <a class="side-nav-menu-link" href="/boards/wait?startPage=1">미완료</a>
                    </li>
                    <li class="side-nav-menu-item">
                        <a class="side-nav-menu-link" href="/boards/receive?startPage=1">접수</a>
                    </li>
                    <li class="side-nav-menu-item">
                        <a class="side-nav-menu-link" href="/boards/complate?startPage=1">완료</a>
                    </li>
                </ul>
            </li>
            <!-- End 게시판 -->

        </ul>
  <!-- #######테스트 -->
  <script src="/socket.io/socket.io.js"></script>
    <style>
        body {
        font: 12px 'Lucida Grande', Helvetica, Arial, sans-serif;
        }
        .Chatbackground {
        background-color: #f9f7fc;
        padding: 15px;
        width: 250px;
        }

        .talk {
        position: relative;
        padding: 15px;
        margin: 1em 0 1em;
        color: black;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        width: auto;
        }
        .talk.me {
        margin-left: 30px;
        border: 5px solid #fff;
        background: #fff;
        }
        .talk.other {
        margin-right: 30px;
        border: 5px solid rgb(238, 213, 99);
        background-color: rgb(238, 213, 99);
        }
        .talk.name {
        margin-right: 30px;
        font-size: 8px;
        padding: 0px;
        margin: 0px;
        }
        .msg {
        display: inline-block;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 0px solid #ccc;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        }
        .send {
        background-color: #fff;
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        border: 0px solid transparent;
        height: 46px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        }

        .msgbox {
        width: auto;
        height: 350px;
        overflow: auto;
        }

        .msgbox::-webkit-scrollbar {
        width: 10px;
        }

        .msgbox::-webkit-scrollbar-thumb {
        background-color: #cfe2f5;
        border-radius: 10px;
        background-clip: padding-box;
        border: 2px solid transparent;
        }

        .msgbox::-webkit-scrollbar-track {
        background-color: #c1aeee;
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px white;

        }
        #nickName{
            height: 10px;
            padding: 2px 2px 2px 2px; 
            size: 9;
            font-size: 8pt; 
        }
    </style>
 <% if(loginUser) { %>
    <script>
        var a = '<%= loginUser.name %>'            
    </script>
<%  } else { %>
    <script>
        var a = ''            
    </script>
<%  }  %>

  <script>
        // 사이드 바 넓이에 따른 채팅창 Display
        // $('#sidebarToggle').on('click', () => {
        //     if($(window).width() > 500) {
        //         if($('#sideNav').width() > 64) {
        //             $('#Chatbackground').hide();
        //         } else {                 
        //             $('#Chatbackground').show();
        //         }
        //     }
        // });

        // $(function(){
        // let socket = io('http://localhost:3000');

        // socket.emit('login', a);

        // socket.on('Mmessage', msg => {   //자기 메세지 
        //     $('#messages').append($('<p class="talk me">').text(msg));
        //     var objDiv = document.getElementById("messages"); 
        //     objDiv.scrollTop = objDiv.scrollHeight;  //스크롤 최하단 포커스
        // });

        // socket.on('Omessage', (name, msg) => {   //다른사람 메세지 
        //     var tempstr = name + msg;
        //     $('#messages').append($('<p class="talk name">').text(name));
        //     $('#messages').append($('<p class="talk other">').text(msg));
        //     var objDiv = document.getElementById("messages"); 
        //     objDiv.scrollTop = objDiv.scrollHeight;       //스크롤 최하단 포커스
        // });

        // socket.on('create name', function(name){  // 서버에서 닉네임 부여
        // $('#nickName').val(name);
        // });

    
        // $("#msinput").keyup(function(key){
        //     if(key.keyCode==13){    // 엔터 눌렀을 때
        //         socket.emit('message', $("#nickName").val(),$("#msinput").val());
        //     $("#msinput").val('');
        //     }
        // });

        // $("#btns").on('click', function(){   // 전송 버튼 눌렀을 때
        //     socket.emit('message', $("#nickName").val(),$("#msinput").val());
        //     $("#msinput").val('');
        // });
        // })
  </script>

  </head>
  <!-- <body>
    <div class="Chatbackground" id="Chatbackground">
      <div class ="msgbox" id="messages"></div>
      <input id="nickName" class="msg" type="text" class="nick"/>
      <input id="msinput" class="msg" type="text"/>
      <button id="btns" class="send" type="button">전송</button>
    </div>
  </body> -->

  <!-- 테스트########## -->
    </aside>
    <!-- End Sidebar Nav -->