<div class="content">
    <div class="py-4 px-3 px-md-4">
        <div class="card mb-3 mb-md-4">

            <div class="card-body">
                <!-- Breadcrumb -->
                <nav class="d-none d-md-block" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">문의</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">문의 </li>
                    </ol>
                </nav>
                <!-- End Breadcrumb -->

                <div class="mb-3 mb-md-4 d-flex justify-content-between">
                    <div class="h3 mb-0"> <%=type %></div>
                </div>

                <!-- <% if(loginUser) { %>
                    <button type="button" onclick="location.replace('./register/<%=type %>')" class="btn btn-primary rounded-pill">글작성</button>
                    <br><br>
                <% } %> -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="font-weight-semi-bold border-top-0 py-2">#</th>
                            <th class="font-weight-semi-bold border-top-0 py-2">구분</th>
                            <th class="font-weight-semi-bold border-top-0 py-2">작성자</th>
                            <th class="font-weight-semi-bold border-top-0 py-2">작성날짜</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(Object.keys(list).length == 0) { %>
                            <tr>
                                <td class="py-3" colspan="4">게시글이 없습니다.</td>
                            </tr>
                            <% } else { %>
                                <% list.forEach(item => { %>
                                    <tr>
                                        <td class="py-3"><%=item._id %></td>
                                        <td class="py-3">
                                            <a href="./<%=type %>/<%=item._id %>">
                                                <%-item.title %>
                                            </a>
                                        </td>
                                        <td class="py-3">
                                            <%-item.name %>
                                        </td>
                                        <td class="py-3">
                                            <%-item.reg_date%>
                                        </td>
                                    </tr>
                                <% }); %>
                            <% } %>
                    </tbody>
                </table>
                
     
                <nav class="d-flex justify-content-between align-items-center" aria-label="Page navigation example">
                    <small class="text-muted">[<%=nowPage %>] of [<%=lastPage %>]</small>
                    <ul class="pagination font-weight-semi-bold">
                        <% if (nowPage != 1){ %>
                            <!-- 첫 페이지 -->
                            <li class="page-item">
                                <a class="page-link" href="/boards/<%=type %>?startPage=1" aria-label="Previous">
                                    <i class="gd-angle-double-left icon-text icon-text-xs d-inline-block" aria-hidden="true"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <!-- 이전 페이지 -->
                            <li class="page-item">
                                <a class="page-link" href="/boards/<%=type %>?startPage=<%=parseInt(nowPage) - 1 %>" aria-label="Previous">
                                    <i class="gd-angle-left icon-text icon-text-xs d-inline-block" aria-hidden="true"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        <% } %>
                        
                        <!-- 시작번호, 표시 마지막 번호를 위한 카운트 -->
                        <% var first = 1, last = 5; %>        
                        <!-- 현재 페이지가 4보다 크면 시작 번호 수정과 마자막 두번째 번호일 때 설정   -->
                        <% if(nowPage >= 4) { %>
                            <% first = nowPage - 2; %>
                            <% if(nowPage >= lastPage - 2) { first = lastPage - 4; } %>
                        <% } %>
                        <!-- 전체 페이지 수가 5보다 작을 때 설정 -->
                        <% if(lastPage < 5) { last = lastPage } %>
                        <!-- 번호 5개만 표시 -->
                        <% for(var i = first; i < first + last; i++ ) { 
                            if(nowPage == i){ %>
                            <li class="page-item disabled"><a class="page-link" href="/boards/<%=type %>?startPage=<%=i %>"><%=i%></a></li>   
                            <% } else { %>
                            <li class="page-item"><a class="page-link" href="/boards/<%=type %>?startPage=<%=i %>"><%=i%></a></li>   
                            <% } %>
                        <% } %>                
                        
                        <% if (nowPage != lastPage){ %> 
                            <!-- 다음 페이지 -->
                            <li class="page-item">
                                <a class="page-link" href="/boards/<%=type %>?startPage=<%=parseInt(nowPage) + 1 %>" aria-label="Next">
                                    <i class="gd-angle-right icon-text icon-text-xs d-inline-block" aria-hidden="true"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            <!-- 마지막 페이지 -->
                            <li class="page-item">
                                <a class="page-link" href="/boards/<%=type %>?startPage=<%=parseInt(lastPage) %>" aria-label="Next">
                                    <i class="gd-angle-double-right icon-text icon-text-xs d-inline-block" aria-hidden="true"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>

        </div>
    </div>