
<div class="content">

    <div class="container-fluid pb-5">

        <div class="row justify-content-md-center">
            <div class="card-wrapper col-12 col-md-4 mt-5">
                <div class="brand text-center mb-3">
                    <a href="/"><img src="/images/logo.png"></a>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Login</h4>
                        <form action="/login" method="POST">
                            <div class="form-group" id="loaderLocation">
                                <label for="email">ID</label>
                                <!-- <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                                    </div>
                                    
                                </div> -->
                                
                                <input id="email" type="text" class="form-control" name="email" required="" autofocus="" value=<%=userEmail %>>
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input id="password" type="password" class="form-control" name="password" required="">
                            </div>

                            <% if(message) { %>
                                <h6 style="color: red; text-align: center;">
                                    <%=message %>
                                    <script>
                                        function closeLoadingWithMask() {
                                            $('#mask, #loadingImg').hide();
                                            $('#mask, #loadingImg').remove(); 
                                        }
                                        closeLoadingWithMask();
                                    </script>
                                </h6>
                                <% } %>

                                    <div class="form-group">
                                        <div class="form-check position-relative mb-2">
                                            <input type="checkbox" class="form-check-input d-none" id="remember" name="remember" <% if(userEmail) { %> checked
                                            <% } %>>
                                                <label class="checkbox checkbox-xxs form-check-label ml-1" for="remember" data-icon="&#xe936">Remember Me</label>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <input type="submit" class="btn btn-primary btn-block" value="Sign In" onclick="LoadingWithMask()">
                                    </div>
                                    <!-- <div class="text-center mt-3 small">
                                        Don't have an account? <a href="/users/register">Sign Up</a>
                                    </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <!-- header, sidebar 불필요 시 css-->
    <style>
        header,
        aside {
            display: none;
        }
    </style>
    <script>
        $('body').removeClass();

    function LoadingWithMask() {
    //화면의 높이와 너비를 구합니다.
        var maskHeight = $(document).height();
        var maskWidth  = window.document.body.clientWidth;
        
        //화면에 출력할 마스크를 설정해줍니다.
        var mask       ="<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'></div>";
        var loadingImg ='';
        
        loadingImg +="<div id='loadingImg' style='position:absolute; top:20%;left:40%; display:none; z-index:9000;'>";
        loadingImg +=" <img src='/images/Spinner.gif'/>";
        loadingImg +="</div>"; 
    
        //화면에 레이어 추가
        $('body')
            .append(mask)
            .append(loadingImg)
            
        //마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채웁니다.
        $('#mask').css({
                'width' : maskWidth
                ,'height': maskHeight
                ,'opacity' :'0.3'
        });
    
        //마스크 표시
        $('#mask').show();  
    
        //로딩중 이미지 표시
        $('#loadingImg').show();
    }


    </script>
    <!-- End header, sidebar 불필요 시 css-->

    <script src="/js/graindashboard.js"></script>
    <script src="/js/graindashboard.vendor.js"></script>