<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <br><br><hr>
    <textarea class="form-control small" id="content" name="content" style="width:100%;" rows="7" placeholder="처리 내용"></textarea>
    <br>
    
    <!-- <button id="cancel" class="btn btn-soft-danger float-right">취소</button> -->
    <button id="enter" class="btn btn-outline-secondary mr-3 float-right small">확인</button>
    <div class="btn-group float-right" id="filterDay" >
        <div class="form-check form-check-inline float-right">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">접수</label>
        </div>
        <div class="form-check form-check-inline float-right">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">메모</label>
        </div>
        <div class="form-check form-check-inline float-right">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" >
            <label class="form-check-label" for="inlineRadio3">완료</label>
        </div>
        
    </div>



    <br><br>

    <hr>

    <div id='replyList'>    
        <% if(Object.keys(reply).length > 0) { %>  
            <% reply.forEach(item => { %>  

                <div class="card-body p-2" style="border: 1px slategrey solid; border-radius: 5px;">
                    <div class="d-flex">
                        <div style="flex-grow: 2; text-align: center;">
                            <% if(!item.writer.profile || item.writer.profile == '') { %>
                                <span class="mr-md-2 avatar-placeholder">
                                    <i class="gd-user"></i>
                                </span>
                            <%  } else { %>
                                <img class="mr-md-2 avatar-placeholder" src="<%=item.writer.profile %>">
                            <% } %>
                            <br>
                            <%=item.name %>
                        </div>
                        <div style="flex-grow: 100;"><%-item.content %></div>                        
                        <% if(loginUser) { %>
                            <% if(item.writer.email == loginUser.email) { %>
                                <div class="dropdown float-right" style="flex-grow: 0.1; text-align: right;">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                        <i class="gd-settings"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" onclick="fn_replyDelete('<%=item._id %>')">삭제</a>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                </div>  
                <br>   
            <% }); %>   
        <% } else { %>
            <div style="text-align: center;">
                <h3>내역이 없습니다.</h3>
            </div>
        <% } %>
    </div>

    <script>

        $(function(){
            fn_replyList('<%-board._id%>');  
        });


        $('#enter').on('click', ()=> {
            if($('#content').val() == '') {
                alert('내용을 입력해 주세요.');
            } else { 
                if('<%-JSON.stringify(loginUser)%>'){
                    
                    let user = JSON.parse('<%-JSON.stringify(loginUser)%>');
                    let board_id = '<%-board._id%>';
                    console.log(user);
                    console.log(user.member_name);
                    var paramData = {
                        content: $('#content').val(),
                        id: board_id,
                      //  email: user.email,
                        name: user.member_name,
                      //  profile: user.profile
                       // name : loginUser.member_name,
                        state : $('#filterDay input:radio:checked').val()
                    }; 
                    $.ajax({
                        type : "POST",
                        url : "/reply/insertReply",
                        dataType : "json",
                        data : paramData,
                                                
                        success : (result) => {
                            if(result.status == 'OK')
                                fn_replyList(board_id);  
                            

                            if(result.state == "notFound")
                                alert('접수중인 항목이 아닙니다.');
                        },
                        
                        error : () => {
                            console.log("실패")
                        }
                    });
                    $('#content').val('');
                } else {
                    alert('로그인 후 댓글 작성이 가능합니다.');
                }
            }
        });
        
        $('#cancel').on('click', () => {
            $('#content').val('');
        });

        var fn_replyDelete = (reply_id) => {
            let board_id = '<%-board._id%>';
            var paramData = {
                reply_id: reply_id,
                board_id: board_id
            };
            $.ajax({
                type : "DELETE",
                url : "/reply/deleteReply",
                dataType : "json",
                data : paramData,
                                        
                success : (result) => { 
                    if(result.status == 'OK')
                        fn_replyList(board_id);
                }, 

                error : () => {
                    console.log("실패")
                }
            });
        };


        var fn_replyList = (board_id) => {
            $.ajax({
                type : "POST",
                url : "/reply/listReply",
                dataType : "json",
                data : {id: board_id},
                                        
                success : (result) => {
                    var htmls = '';
                    if(result.replies.length > 0) {                                
                        let user = JSON.parse('<%-JSON.stringify(loginUser)%>');                      
                        result.replies.forEach(e => {
                            htmls += '<div class="card">';
                            htmls += '<div class="card-header p-2" style="border: 1px slategrey solid; 5px; background-color: rgb(0 0 0 / 10%);">';
                            if(e.state==2)
                                htmls += '<b>' +"● 접수" + '</b>' 
                            else if(e.state==0)
                                htmls += '<b>' +"● 메모" + '</b>' 
                            else if(e.state==3)
                                htmls += '<b>' +"● 완료" + '</b>'
                            htmls +='&nbsp'+ e.create_date;
                            htmls += '</div>';
                            htmls += '<div class="card-body p-2" style="border: 1px slategrey solid; border-radius: 5px;">';
                           // htmls += '<div class="card-body" >';
                            htmls += '<div class="d-flex">';
                            htmls += '<div style="flex-grow: 2; text-align: center;">';
                                

                            // htmls += '<img class="mr-md-2 avatar-placeholder" src="' + 'test1234' + '">';
                            // if(e.state==1)
                            //     htmls += '<b>' +"접수" + '</b>' 
                            // else if(e.state==2)
                            //     htmls += '<b>' +"메모" + '</b>' 
                            // else if(e.state==3)
                            //     htmls += '<b>' +"완료" + '</b>' 
                            htmls += '<br>' + e.name + '</div>';

                            htmls += '<div style="flex-grow: 100;">' + e.content.replace(/(?:\r\n|\r|\n)/g, '<br/>') + '</div>';
                            
                         //   if(user.email == e.writer.email) {
                                htmls += '<div class="dropdown float-right" style="flex-grow: 0.1; text-align: right;">';
                                htmls += '<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">';
                                htmls += '<i class="gd-settings"></i>';
                                htmls += '</button>';
                                htmls += '<div class="dropdown-menu">';
                                htmls += '<a class="dropdown-item" onclick="fn_replyDelete(\'' + e._id + '\')">삭제</a>';
                                htmls += '</div>';
                                htmls += '</div>';
                         //   }

                            htmls += '</div>';
                            htmls += '</div>';
                            htmls += '</div>'; //card div
                            htmls += '<br>';
                        });

                    } else {
                        htmls += '<div style="text-align: center;"><h3>내역이 없습니다.</h3></div>';
                    }
                    $('#replyList').html(htmls);
                },
                
                error : () => {
                    console.log("실패")
                }
            });
        }

    </script>

</body>
</html>