<div class="content" id="aw2">
    <div class="py-4 px-3 px-md-4">
        <div class="card mb-3 mb-md-4">

            <div class="card-body">
                <!-- Breadcrumb -->
                <nav class="d-none d-md-block" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">
                                <%=type %> 게시판</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <%=type %> ShowBoards</li>
                    </ol>
                </nav>
                <!-- End Breadcrumb -->
                <!-- Form -->
                <form class="needs-validation" novalidate>
                    <div class="form-row">
                      <div class="col-md-3 mb-3 ">
                        <label for="validationCustom01">Service</label>
                        <input type="text" class="form-control form-control-sm" id="validationCustom01" value="<%-board.service_name %>" disabled readonly>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="validationCustom02">Category</label>
                        <input type="text" class="form-control form-control-sm" id="validationCustom02" value="<%-board.trade_name %>" disabled readonly>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="validationCustom02-1">Region</label>
                        <input type="text" class="form-control form-control-sm" id="validationCustom02-1" value="<%-board.provice %>" disabled readonly>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-3 mb-3">
                        <label for="validationCustom03">Name</label>
                        <input type="text" class="form-control form-control-sm" id="validationCustom03" value="<%-board.customer %>" disabled readonly>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="validationCustom04">Phone</label>
                        <input type="text" class="form-control form-control-sm" id="validationCustom04" value="<%-board.phone %>" disabled readonly>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="validationCustom05">Email</label>
                        <input type="text" class="form-control form-control-sm" id="validationCustom05" value="<%-board.email %>"  disabled readonly>
                      </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                          <label for="validationCustom06">Company</label>
                          <input type="text" class="form-control form-control-sm" id="validationCustom06" value="<%-board.company %>" readonly="readonly">
                        </div>
                        <div class="col-md-3 mb-3">
                          <label for="validationCustom07">Create</label>
                          <input type="text" class="form-control form-control-sm" id="validationCustom07" value="<%-board.gmt_create %>" readonly="readonly">
                        </div>
                        <div class="col-md-3 mb-3">
                          <label for="validationCustom08">Type</label>
                          <input type="text" class="form-control form-control-sm" id="validationCustom08" value="<%-board.type %>"  readonly="readonly">
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="comment">Comment:</label>
                        <div class="form-group col-12 col-md-12" id="contentBoard"  white-space="pre">
                            <p contenteditable="true"><%-board.content %></p>
                            
                        </div>
                        
                    </div>
                </form>
                <% include ./reply %>
                <!-- End Form -->
            </div>
        </div>
    </div>

